{% extends 'user/base.html' %}
{% load bootstrap4 %}
{% block content %}
	<!-- {{form}} -->
<div class="content-section">
<legend>Join Now!</legend>		
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Log In</button>
    </div>
    </form>
    <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
            </small>
    </div>
		
	</div>
	

{% endblock %}