{%  extends 'authentication/main.html' %}
{% block content %}

<h5>POLICYS:</h5>
<div class="row">
	<div class="col-md-5">
		<hr>
		<div class="card card-body">
			
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Policy</th>
					<th>Description</th>
				</tr>

				{% for policy in policys %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="">View</a></td>
						<td>{{policy.name}}</td>
						<td>{{policy.desc}}</td>
					</tr>
				{% endfor %}

			</table>
		</div>
    </div>
</div>


{% endblock content %}